@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #CC8828; 
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #412210;
    color: white;
}

.contact {
    padding: 0.3%;
    background-color: #412210;
    align-content: flex-end;
}

.about {
    padding: 5%;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

#welcome-photo {
    width: 40%;
    margin-right: 5%;
}

#welcome-photo1 {
    width: 39.8%;
    margin-left: 5%;
}

.photos-welcome {
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#facebook {
    position: relative;
    left: 70%;
    border-right: solid 1px black;
    padding-right: 10px;
}

#instagram {
    position: relative;
    left: 70.5%;
    border-right: solid 1px black;
    padding-right: 10px;
}

#flag {
    position: relative;
    left: 71%;
    width: 32px;
    height: 21px;
}

.welcome {
	min-width : 100%;
    height: 450px;
    background-size: cover;
    background-position: 25% 40%;
    background-image: url(../wallpaper.jpg);
    background-repeat: no-repeat;
    color: white;  
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 3rem; 
}

ul > li {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

#logo {
    z-index: 1;
    position: absolute;
    left: 13.5%;
    width: 150px;
    height: 150px;
}

nav {
    background-color: #262626;
}

@media (max-width: 765px) {
    #logo {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 34px;
        width: 57px;
        height: 57px;
    }
}

@media (max-width: 1500px) {
    ul {
        margin-right: 5%;
    }
}

@media (min-width: 1500px) {
    ul {
        margin-right: 40%;
    }

    ul > li {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: bolder;
        margin-right: 30px;
    }
}